<div class ="product-section">
        <div class="row  text-center">
            <div class="col-12">
                <img src =BakeryLogo.jpg>
                <h1 class="text-center">Heaven <i> by the dozen </i></h1>
                <h3>
                    <i>now with chocolate chips...</i>
                </h3>
            </div>
        </div>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img class="d-block img-fluid" src="istock_000069611967_small.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" src="pink-sugar-cookies.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" src="Best-Oatmeal-Raisin-Cookies.BSB_.IMG_3544.jpg" alt="Third slide">
                </div>
            </div>
        </div>
        <div>
        <div>
            <div class='row order-items'>
                <div class="col align-content-center">
                    <div class="product_image_box text-center">
                        <!-- Tim these items should be coming from the ruby and not hard-coded into the html -->
                        <img class="product_image" src=oatmealRaisinClose.jpg >
                        <h3>Country Oatmeal Raisin</h3>
                        <form>
                            <div>
                                <input type=number>Dozen
                            </div>
                            <button type="submit">Add To Cart
                        </form>
                    </div>
                </div>
                <div class="col">
                    <div class="product_image_box text-center">
                        <img class="product_image" src=chocoChipClose.jpg >
                        <h3>Decadent Chocolate Chip</h3>
                    <form>
                        <div>
                            <input type=number>Dozen
                        </div>
                        <button type="submit">Add To Cart
                    </form>
                    </div>
                </div>
                <div class="col">
                    <div class="product_image_box text-center">
                        <img class="product_image" src=sugarCookies.jpg>
                        <h3> Seasonal Sugar</h3>
                    <form>
                        <div>
                            <input type=number>Dozen
                        </div>
                            <button type="submit">Add To Cart
                    </form>
                    </div>
                </div>
            </div>
        </div>
            