<div class ="product-section">
        <div class="row  text-center">
            <div class="col-12">
                <img src =cupcake.png >
                <h1 class="text-center"> Welcome!</h1>
                <H1> What'll it be?</H1>
            </DIV>
        </div>
        <div class ="row text-center">
            <div class= "col-4">
                 <div class="product_image_box text-center">
                     <img class="product_image" src=LemonPoppySeedMuffins.jpg >  Muffins
                    <button type = "submit" href =muffins>
                </div>
            </div>
            <div class= "col-4">
                <div class="product_image_box text-center">
                    <img class="product_image" src=red_velvet_round.jpg > Cookies
                </div>
            </div>
            <div class= "col-4">
                <img class="product_image" src=LemonPoppySeedMuffins.jpg >  Cakes
                <button type = "submit" href =muffins>
            </div>
        </div>
     </div>

            